{% extends 'app/test4C.html' %}


{% block title %} versions {% endblock %}

{% block content %}

<style>
.display-1 {
    font-size: 6rem;
    font-weight: 500;
    text-align: center;    
}
.postman-app {
    background-color: rgba(255,108,55,.7)
}

.postman-canary {
    background-color: rgba(101,92,128,.7)
}

.table-versions {
    background-color: rgba(109,127,145,.9)
}


#O_o {
  text-align: center;
  background: #33577b;
  color: #6e8ba7;
  -webkit-box-shadow: 0 8px 6px -6px #222;
  -moz-box-shadow: 0 8px 6px -6px #222;
  box-shadow: 0 8px 6px -6px #222;
}
#O_o a:link,
#O_o a:visited {
  color: #f0f3f5;
  border-bottom: #6e8ba7;
  display: block;
  padding: 2px;
}
#O_o a:hover,
#O_o a:active {
  color: rgb(248, 118, 31);
  border-bottom: #fff;
}
</style>


<div id="O_o"><a href="https://github.com/tobiaswettstein">&laquo;
    Return to Tobias Wettstein's GitHub page.</a></div>

<div class="container" style="height: 200px;"> 
        <!-- Content here -->
      </div>

<div class="row" > <!-- style="height: 400px;" -->
    
    <div class="col-sm">
    <div class="card postman-app   mb-3"> <!-- h100 -->
        <div class="card-body">
            <h3 class="card-title">Current App Version</h3>
            <h1 class="display-1">
                {% for key in version %}
                {{ key.version }}
                {% endfor %}
            </h1>                            
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card postman-canary   mb-3">
            <div class="card-body">
                <h3 class="card-title">Current Canary Version</h3>
                <h1 class="display-1">
                {% for key in c_version %}
                {{ key.version }}
                {% endfor %}  
                </h1>
            </div>
        </div>
    </div>
</div>

</br></br>

<div class="row" style="height: 400px;">
        <div class="col-sm">


        <table class="table-versions table-sm table-striped rounded-lg mb-3">
        
            <thead>
                <tr>
                    <th scope="col">   Version Release Dates </th>
                </tr>
            </thead>
        
                <tbody>
                    {% for key in info %}
                        {% for i in key.info|slice:":10" %}
                 
                <tr>
                    <td scope="row">   
                        {{ i.name|slice:":10" }}
                    </td> 
                    <td scope="row">   
                        {{ i.createdAt|slice:":10" }}
                        </td> 
                </tr>

                        {% endfor %}
                    {% endfor %}
                </tbody>
        
        </table>
</div>
</div>




{% endblock %}
